.info {
  color: #fff;
  max-width: 511px;
  line-height: 36px;
  padding:80px 20px;

  @media(max-width: 768px) {
    padding:20px 20px 80px;
  }
}

.description {
  font-size: 24px;
  font-weight: 400;
}

.possibilities {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 28px;

  &_list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    list-style: url('./img/point.svg');
  }
}

li{
  margin-bottom: 24px;
}