.container {
    width: 100%;
    height: 100%;
    color: #fff;
    background: radial-gradient(at 50% -100%, rgba(255, 255, 255, 0.521), #161b30a9 70%);
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 800px) {
        background: linear-gradient(#52576b, #161b30);
        position: absolute;
        top: 0;
    }
}

.name {
    margin-top: 76px;
    font-size: 56px;
    font-weight: 500;

    @media (max-width: 800px) {
        font-size: 24px;
    }
}

.description {
    margin-top: 16px;
}

.temp {
    font-size: 130px;
    font-weight: 600;

    @media (max-width: 800px) {
        font-size: 120px;
    }
}

.weather {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(#ffffff 20%, #516388 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 435px;
    width: 100%;
    margin-top: 40px;

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

.weatherIcon svg {
    width: 219px;
    height: 219px;

    @media (max-width: 800px) {
        width: 206px;
        height: 206px;
    }
}

.pressureWrap {
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    height: 24px;
}

.iconPressure {
    width: 22px;
    height: 22px;
    background: url("./img/barometer.svg") center no-repeat;
}

.pressure {
    font-size: 16px;
    font-weight: 400;
}

.buttonBack {
    position: absolute;
    top: 25px;
    left: 25px;
    background: url('./img/buttonBack.svg')center no-repeat;
    width: 20px;
    height: 20px;
}
