.home {
  width: 100%;
  height: 100%;
  padding: 80px 20px;

  @media (max-width: 800px) {
    padding: 20px 20px 80px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
}

.form {
  max-width: 510px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.searchCity {
  background: #2a2f45;
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 56px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.suggest {
  position: absolute;
  width: 100%;
  background: #30354b;
  color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.suggestCity {
  margin: 0;
  width: 100%;
  display: flex;
}

.suggestLink {
  width: 100%;
  padding: 20px;
}

.cities {
  margin-top: 55px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px;

  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
}

.cityName {
  font-size: 14px;
  font-weight: 400;
}

.cityTemp {
  font-size: 40px;
  font-weight: 500;
  margin-top: 12px;
}

.cityWeather svg {
  width: 88px;
  height: 88px;
  object-fit: contain;
  overflow: hidden;
}
