.page {
  display: grid;
  grid-template-areas: 
  "header"
  "content"
  "footer";
  grid-auto-rows: 65px auto 41px;
  width: 100%;
  height: 100vh;
  background: #161B30;
  margin: 0 auto;
  font-family: sans-serif;
  
}